<mat-card *ngIf="assignmentTransmis">

  <div class="assigment-card-header">
    <mat-card-header> 
      <div mat-card-avatar> </div>
      <!--Nom de l'élève-->
      <mat-card-title>Christophe Santamaria</mat-card-title>
      <!-- Classe de l'évève -->
      <mat-card-subtitle>Elève en M2 MIAGE INTENSE </mat-card-subtitle>
    </mat-card-header>

    
    <mat-card-header>
      
      <div>
      <!-- Si la note est = truc alors afficher-->
      <mat-card-title *ngIf="assignmentTransmis.note" >Note : {{assignmentTransmis.note}} /20 </mat-card-title>

      <!-- Si non rendu et date dépasée alors 0/20 -->
      <mat-card-title *ngIf="!assignmentTransmis.note && assignmentTransmis.dateDeRendu" > Rendu en retard 0/20 </mat-card-title>

      <mat-card-title *ngIf="!assignmentTransmis.note" > Pas encore noté </mat-card-title>

      <!-- Sinon afficher pas encore noté-->
    </div>
    </mat-card-header>

    
    <mat-divider></mat-divider>

  
    <mat-card-header> 
      <div mat-card-sm-image > </div>
      <mat-card-title>{{assignmentTransmis.matiere}}</mat-card-title>
      <!---->
      <mat-card-subtitle>par Michel Buffa</mat-card-subtitle>
      <!--Coef de la matiére-->
      <mat-card-subtitle>Coefficient 3</mat-card-subtitle>

    </mat-card-header>


  </div>

  <div class="bottom">
    <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
      Rendu
    </mat-checkbox>

    <mat-card-content>
     
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>Date de rendu : {{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>

    <nav>
      <!-- la route "relative" marche aussi car on est déjà dans /assignment/id
            Le fait de naviguer vers ['edit'] rajoute edit à la fin -->
      <!--<a [routerLink]="['edit']"> -->

        <!-- ici exemple avec route absolue (commence par /) -->
        <!--
          <a [routerLink]="['/assignment', assignmentTransmis.id, 'edit']">
          -->

          <h2>Description</h2>

          <p>Ceci est la description de la carte</p>

  
  

          
          
        <button [disabled]="!isAdmin()" mat-stroked-button color="primary" (click)="onClickEdit()">
          EDIT
        </button>
        
        <!--
      </a>
    -->
    </nav>
  </mat-card-content>


    <button mat-raised-button color="accent" (click)="onDeleteAssignment()">
      DELETE
    </button>
  </div>
</mat-card>

<h2>Remarques</h2>
<!-- Ajouter le nombre de remarques -->


<!--Ng for pour les remarques -->
<mat-card *ngIf="assignmentTransmis">

  <!--Objet de la remarque -->
  <h3> Le rendu était en retard de 3 jours </h3> 
  <!--Texte de la remarque --> 
  <p>{{assignmentTransmis.remarques}}</p>

  <p>26/01/2022 à 15:30 () </p>


</mat-card>


<!-- Ajouter l'envoie du commentaire -->
<mat-card *ngIf="assignmentTransmis">
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Objet</mat-label>
    <input matInput placeholder="Ex. Manque un fichier">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Commentaire</mat-label>
    <textarea matInput placeholder="Ex. Le ficher du compte de resultat n'est pas présent... "></textarea>
  </mat-form-field>
</form>

<button mat-raised-button color="primary">Envoyer le commentaire</button>

</mat-card>