.rendu {
  color:green;
}

.nonRendu {
  color:red;
  background-color: yellow;
  border : 3px dashed purple;
}

.important {
   font-size: 40px;
 }

 .container {
   display:flex;
   flex-direction: column;
   color: var(--text-color);

 }

 .ajouterBtn {
  align-self: flex-end;
  justify-content: space-between;
  display:flex;

 }

 .pagination {
   width:500px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

table , mat-paginator {
  width: 100%;
  background-color: var(--bkg-color);
  color: var(--text-color);
}
th, td,  ng-container {
  color: var(--text-color);
}



thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-header-row{
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--header-row);
  }

  button {
    background-color: var(--btn-table-color);
  }
