.container {
    text-align: center;
}

.mat-stroked-button {
    text-align-last: left;
}

.mat-raised-button {
    text-align-last: right;
}

#loginButton {
    color: white;
    background-color: rgb(57, 35, 255);
}

#loginInput {
    color: var(--text-color);
    background-color: var(--bkg-color);

}

.placeholder {
    color: var(--text-color);
    background-color: var(--bkg-color);

}