<div class="container">
    <h2>Connectez-vous</h2>
    <form ngForm class="form">
        <mat-form-field>
            <mat-label>Nom d'utilisateur</mat-label>
            <input id="loginInput" matInput name="username" [(ngModel)]="username">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput name="password" [(ngModel)]="password" type='password'>
        </mat-form-field>
        <p *ngIf="thereIsAnError" style="text-align: center; color: red;">Erreur : nom d'utilisateur et/ou mot de passe incorrect.</p>
        <br>
        <br>
        <mat-button-toggle routerLink="/home">Annuler</mat-button-toggle>
        <mat-button-toggle id="loginButton" (click)="login()">Login</mat-button-toggle>
    </form>
</div>