<nav>
        <a routerLink="/home">
                <img src="https://zupimages.net/up/22/04/qjde.png">
        </a>
</nav>


<mat-toolbar color="primary">
        <div class="topBar">
                <mat-toolbar-row>
                        <button *ngIf="authService.loggedIn" mat-raised-button color="warn" (click)="logout()">
                                Logout
                        </button>
                        <button *ngIf="!authService.loggedIn" mat-raised-button routerLink="/login">
                                Login
                        </button>


                        <button mat-raised-button color="accent" (click)="oldLoginFunction()">
                                Login (old button)
                        </button>
                </mat-toolbar-row>


                <mat-toolbar-row>
                        <mat-slide-toggle (click)="toggleDarkMode()">Dark Mode</mat-slide-toggle>
                </mat-toolbar-row>

                <mat-toolbar-row>

                        <button routerLink="/add" mat-flat-button color="accent">
                                Ajouter Assignment
                        </button>
                </mat-toolbar-row>
        </div>

</mat-toolbar>






<!--<button mat-raised-button
        color="primary"
        (click)="remplirBD()"
>
        PEUPLER BD
</button>-->

<router-outlet></router-outlet>