<form ngForm class="form"
      #assignmentForm
      (submit)="onSubmit(); 
      assignmentForm.reset();">

 <!-- ERREUR -->
  <p *ngIf="thereIsAnError" style="text-align: center; color: red;">Erreur : veuillez indiquer le nom de l'assignment.</p>

 <!-- NOM -->
  <mat-form-field>
    <input required matInput [(ngModel)]="nomAssignment" name="nom" placeholder="Nom du devoir">
  </mat-form-field>

 <!-- MATIERE -->
 <mat-form-field appearance="fill">
   <mat-label>Choix de la matière</mat-label>
   <mat-select>
    <mat-option (click)="setMatiere(0)" value="devWeb">Dev Web</mat-option>
    <mat-option (click)="setMatiere(1)" value="gestionDeProjet">Gestion de projet</mat-option>
    <mat-option (click)="setMatiere(2)" value="creationEntreprise">Création d'entreprise</mat-option>
    <mat-option (click)="setMatiere(3)" value="managementDuNumérique">Management du numérique</mat-option>
    <mat-option (click)="setMatiere(4)" value="BDpourleBigData">BD pour le Big Data</mat-option>
   </mat-select>
 </mat-form-field>


 <!-- DATE DE RENDU -->
 <mat-form-field appearance="fill">
   <mat-label>Date de rendu</mat-label>
   <input matInput [matDatepicker]="picker"
          placeholder="Edition de la date"
          [(ngModel)]="dateDeRendu" name="date"
          >
   <mat-datepicker-toggle matSuffix [for]="picker">
   </mat-datepicker-toggle>
   <mat-datepicker #picker></mat-datepicker>
 </mat-form-field>

 <!-- COEF DU RENDU -->
 <mat-form-field appearance="fill">
   <mat-label>Coéfficient</mat-label>
   <input matInput 
   (keypress)="NumbersOnly($event)"
   placeholder="Ex. 4"
   [(ngModel)]="coefAssignment" name="assignment-coef"
   >
 </mat-form-field>

 <!-- REMARQUES DU RENDU -->
 <mat-form-field appearance="fill">
   <mat-label>Remarques</mat-label>
   <input matInput 
   placeholder="Ex. Analyse des chiffres et ajouts de tous les chiffrages"
   [(ngModel)]="remarquesAssignment" name="assignment-remarques"
   >
 </mat-form-field>

 <button 
 mat-stroked-button 
 color="primary" 
 (click)="onSubmit()">
  Ajouter un devoir
</button>


</form>




