<div class="container" *ngIf="assignment">
  <h2>Modification de l'assignment {{assignment.nom}} créé par {{authorAssignment}}</h2>
  <form ngForm class="form">


    <!-- NOM DU DEVOIR -->
    <mat-form-field appearance="fill">
      <mat-label>Nom de l'assignment</mat-label>
      <input matInput placeholder="Nom du devoir"
      [(ngModel)]="nomAssignment" name="assignment-name"
      >
    </mat-form-field>


    <!-- MATIERE -->
    <mat-form-field appearance="fill">
      <mat-label>Modification de la matière (actuellement : {{assignment.matiere}})</mat-label>
      <mat-select>
        <mat-option (click)="setMatiere(0)" value="devWeb">Dev Web</mat-option>
        <mat-option (click)="setMatiere(1)" value="gestionDeProjet">Gestion de projet</mat-option>
        <mat-option (click)="setMatiere(2)" value="creationEntreprise">Création d'entreprise</mat-option>
        <mat-option (click)="setMatiere(3)" value="managementDuNumérique">Management du numérique</mat-option>
        <mat-option (click)="setMatiere(4)" value="BDpourleBigData">BD pour le Big Data</mat-option>
      </mat-select>
    </mat-form-field>


    <!-- DATE DE RENDU -->
    <mat-form-field appearance="fill">
      <mat-label>Date de rendu</mat-label>
      <input matInput [matDatepicker]="picker"
             placeholder="Edition de la date"
             [(ngModel)]="dateDeRendu" name="date"
             >
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <!-- COEF DU RENDU -->
    <mat-form-field appearance="fill">
      <mat-label>Coéfficient</mat-label>
      <input matInput 
      (keypress)="NumbersOnly($event)"
      placeholder="Ex. 4"
      [(ngModel)]="coefAssignment" name="assignment-coef"
      >
    </mat-form-field>


    <!-- REMARQUES DU RENDU -->
    <mat-form-field appearance="fill">
      <mat-label>Remarque</mat-label>
      <input matInput 
      placeholder="Ex. Analyse des chiffres et ajouts de tous les chiffrages"
      [(ngModel)]="remarquesAssignment" name="assignment-remarques"
      >
    </mat-form-field>


    <!-- NOTE DU RENDU -->

    <!-- TODO : Vérification si identifier en tant que prof -->
    <mat-form-field appearance="fill"
      *ngIf="(!rendu && authService.godModeEnable)">
      <mat-label>Note sur /20</mat-label>
      <input id="disabledInput" matInput 
      (keypress)="NumbersOnly($event)"
      min="0" 
      max="20" 
      placeholder="Ex. 14"
      [(ngModel)]="noteAssignment"
      name="assignment-note"
      >
    </mat-form-field>
    <mat-form-field appearance="fill"
      *ngIf="rendu || !authService.godModeEnable">
      <mat-label>Note sur /20</mat-label>
      <input id="disabledInput" matInput 
      (keypress)="NumbersOnly($event)"
      min="0" 
      max="20" 
      placeholder="Ex. 14"
      [(ngModel)]="noteAssignment"
      name="assignment-note"
      disabled 
      >
    </mat-form-field>

    <mat-checkbox id="disabledCheckbox" *ngIf="(noteAssignment!='' && !rendu && authService.godModeEnable)" (click)="changeRendu()" [checked]="assignment.rendu">Rendu</mat-checkbox>

    <mat-checkbox id="disabledCheckbox" *ngIf="(noteAssignment=='' || rendu || !authService.godModeEnable)" disabled="true" [checked]="assignment.rendu">Rendu</mat-checkbox>

    <button mat-raised-button color="primary"
           (click)="onSaveAssignment()">
      Sauver
    </button>

    <button id="loginButton" mat-raised-button color="warn"
    (click)="resetForm()">
    Réinitialiser le formulaire
  </button>
    


  </form>
</div>
