

html, body { height: 100%; }
body { margin: 30; font-family: Roboto, "Helvetica Neue", sans-serif; }



body {
    --text-color: #222;
    --bkg-color: #fff;
    --btn-color: #ebebeb; 
    --header-row: #cacaca;
  }
  body.dark-mode {
    --text-color: #eee;
    --bkg-color: #252222;
    --btn-table-color: #5e1414;
    --dis-btn-color: #818181; 
    --header-row: #01645f;
  }
  
  body {
    background: var(--bkg-color);
  }
  
  h1, h2, h3, h4, p {
    color: var(--text-color);
  }

  .mat-card, .mat-card-subtitle, mat-label, .input, .mat-form-field {
    background-color: var(--bkg-color);
    color: var(--text-color);
  
  }


